</main>
<footer>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="https://kayonakao.github.io/aboutMe-html/">About</a></li>
  </ul>
  <p class="copyright"> © Kayo </p>
</footer>
</body>

</html>